<ul class="wide_list" id="groups">
  <% @groups.each do |group| %>
  <li id="<%= group.gsub(' ', '-') %>">
    <div class="content"><%= group %><span class="arrow">&gt;</span></div>
  </li>
  <% end %>
</ul>