<ul class="wide_list" id="attendees">
  <% @people.each do |person| %>
	<li id="<%= person.id %>">
		<div class="content"><%= person.last_name + ", " + person.first_name %><!-- <span class="badge">S</span> --></div>
		<div class="drawer"><span class="button first">Details</span><span class="button">Check In</span></div>
	</li>
  <% end %>
</ul>