<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
		
	<title>Check In - Import</title>
	
  <style type="text/css">
    body { font-family: sans-serif; color: #333; }
    p.notice, p.error { font-weight: bold; }
    p.notice { color: green; }
    p.error { color: red; }
  </style>
</head>
<body>
  <% if @flash %>
    <p class="<%= @flash[:type] %>"><%= @flash[:message] %><p>
  <% end %>

  <%= yield %>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    $('form#reset').submit(function() {
      return confirm("Are you sure you want to delete everything?");
    });
  </script>
</body>
</html>