<h2>Import guests from CSV file</h2>
<p>Your CSV file must contain all guests with the following attributes in the following order:</p>
<ul>
  <li>first name</li>
  <li>last name</li>
  <li>email</li>
  <li>group</li>
  <li>type</li>
</ul>
<p>If you don't want to make use of a certain column, please provide a blank or nil value in that position for each guest.</p>

<p><strong>DO NOT</strong> include a header row in your CSV file.</p>

<form action="/process" method="post" enctype="multipart/form-data">
  <p><input type="file" name="file" id="file"></p>

  <p><input type="submit" value="Import"></p>
</form>