<% unless @query == '' %>
  <% if @groups.count > 0 %>
		<%= partial :groups_list, :collection => @groups %>
  <% else %>
  <p class="nodice">No results matched your query.</p>
  <% end %>  
<% end %>